body{
    background-color:rgba(255, 255, 0, 0.876);
    color:darkmagenta;
    line-height: 30px;
    width: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navlinks a{
    list-style-type: none;
    background-color: white;
    padding: 5px;
    margin: 25px 30px;
    width: 140px;
    position: absolute;
    text-decoration: none;
    border-right: 20px solid black;
}

#p1{
    top: 20px;
}
#m1{
    top: 80px;
}
#t1{
    top: 140px;
}
#l1{
    top: 200px;
}
.mainbody, h1{
    margin-left: 250px;
    margin-top: 30px;
}